body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Be Vietnam Pro', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .btn {
    @apply rounded-full py-[12px] px-[35px] text-[white] ease-in-out duration-300 bg-[#f25f3a];
  }

  .btnSec {
    @apply rounded-full py-[12px] px-[35px] text-[#f25f3a] ease-in-out duration-300 bg-[white];
  }

  a {
    @apply text-[#242d52] font-[700] text-[1.05rem]
  }

  h1 {
    @apply text-[#242d52] font-[500] text-[2.5rem] leading-[3.5rem]
  }

  .header {
    @apply text-[#242d52] font-[700] text-[2rem] leading-[2.5rem]
  }

  h2 {
    @apply text-[#242d52] font-[700] text-[1.1rem] leading-[1.4rem]
  }

  .body {
    @apply text-[1.2rem] leading-[2rem] text-DarkGrayishBlue
  }

  .footerLink {
    @apply text-[white] text-[19px]
  }

  /* span {
    @apply text-[.9rem] leading-[1.8rem] text-GrayishBlue
  } */
}


@tailwind base;
@tailwind components;
@tailwind utilities;